@model Quiron.LojaVirtual.Dominio.Entidade.Produto

@{
    ViewBag.Title = "Alterar";
    Layout = "~/Areas/Administrativo/Views/Shared/_AdministrativoLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h3>
            @Model.Nome @ViewBag.Operacao
        </h3>
    </div>

    @Html.ValidationSummary()

    @using (Html.BeginForm("Alterar", "Produto"))
    {
        <div class="panel-body">

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                <div class="form-group">
                    <label>
                        @(property.DisplayName ?? property.DisplayName)
                    </label>

                    @if (property.PropertyName == "Descricao")
                    {
                        @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 4 })
                    }
                    else if (property.PropertyName == "ProdutoId")
                    {
                        @Html.HiddenFor(x => x.ProdutoId)
                    }
                    else
                    {
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                    }
                    @Html.ValidationMessage(property.PropertyName)
                </div>
            }
            <input type="submit" value="Gravar" class="btn btn-primary" />
            @Html.ActionLink("Voltar a lista de produtos", "Index")
        </div>
    }
</div>